@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color: #302F4F;
    padding: 2px;
    font-size: 18px;
    height: 55px;
    border-radius: 16px 16px 0 0;
    color: white;
}
.select-menu{
    width: 250px;
}
.select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #22223E;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0 0 16px 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}
.select-menu .options{
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #22223E;
    display: none;
}
.select-menu.open .options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.options .option:hover{
    background: #302F4F;
}
.option .option-text{
    font-size: 18px;
    color: white;
}