@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Irish+Grover&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Imprima', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    position: relative;
    bottom: 20px;
}

.backBtn{
    position: absolute;
    right: -200px;
    top: -70px;
    width: 35%;
    height: 35%;
    box-shadow: none;
}

.title{
    font-size: 50px;
    font-family: 'Irish Grover', cursive;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.conversion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.equal{
    margin-top: 50px;
    width: 7%;
    height: 7%;
}

.formula{
    margin-top: 100px;
    color: white;
    text-align: center;
}

.highlighted{
    background-color: #EC9C00;
    padding: 5px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
}